@page {
    margin: 0mm 0mm;
    padding: 0mm 0mm;

    /*size: A4 portrait;*/
    size: letter portrait;
}

section {
    position: absolute;

    top: 0%;
    left: 0%;
}

img {
    width: 216mm;
    height: 279mm;

    position: absolute;

    /*position: relative;
    top: -1mm;
    left: -2mm*/;
}

.sheet {
    width: 216mm;
    height: 279mm;
    position: relative;
    left: 0%;
}

.participante {
    position: relative;
    top: 15cm;

    display: block;

    font-weight: bold;
    font-size: 20pt;
    text-align: center;

    z-index: 10;
}

.qr {
    position: absolute;

    left: 85%;
    top: 24.7cm;

    height: 3cm;
    width: auto;

    z-index: 10;
}